<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS353 - Group 20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js" defer></script>
  </head>
  <header style="text-align: center;">
  	<h1 class="text-secondary">Post Question</h1>
  	&nbsp;
  </header>
  <body>
    <div>
      Question:
      <textarea id="Question" rows="10" cols="160%" style="border: 3px solid black">
        Question
      </textarea>
    </div>
    <div>
      <textarea id="Question" rows="1" cols="120%" style="border: 3px solid black">
        Topics
      </textarea>
    </div>
    <div>
      Enter difficulty level:
      <form action="">
        <input type="radio" name="difficulty" value="easy"> Easy
        <input type="radio" name="difficulty" value="mediun"> Medium
        <input type="radio" name="difficulty" value="hard"> Hard
      </form>
      <br>
    </div>

    <div class="p-3" style="text-align: center;">
      <a href="adminHome.html" class="btn btn-info" role="button">Post</a>
    </div>
    <div class="p-3" style="text-align: center;">
      <a href="adminHome.html" class="btn btn-info" role="button">Home</a>
    </div>

  </body>
</html>
