{% extends 'layout.html' %}
<header style="text-align: center;">
  <h1 class="text-secondary">Question</h1>
  &nbsp;
</header>
{% block body %}

  <body>
    <div style="border: solid black; width: 100%; height: 100px;">
    </div>
    <div>
    <span class="font-weight-bold mr-1">ANSWER:  </span>
    </div>
    <div>
    <textarea id="Answer" rows="10" cols="160%" style="border: 3px solid black">
      WRITE ANSWER HERE
    </textarea>
    </div>

	&nbsp;
  <div class="p-3" style="text-align: center;">
    <a href="devHome.html" class="btn btn-info" role="button">SUBMIT SOLUTION</a>
  </div>
{% endblock %}
