{% extends 'layout.html' %}


{% block body %}
  <header class="text-center">
    <br>
  	<h1 class="text-secondary">Invite Developer</h1>
  	&nbsp;
  </header>
	   <div>
       <table style="width:100%; border: solid black;">
       <tr>
         <th>Developer</th>
         <th>Aggregate Score</th>
         <th>Invite to interview</th>
         <th>Job Description</th>
       </tr>
       {% for track in tracks %}
       <tr>
           <th>{{jobs["track_name"]}}</th>
           <th>{{track["no_questions"]}}</th>
           <th>
               <form aciton="" method="POST">
                   <textarea style="display: none" name="id">{{track['track_id']}}</textarea>
                   <button class="btn btn-primary" value="submit" id={{track["track_id"]}}>Select</button>
               </form>
           </th>
       </tr>
       {% endfor %}
       </table>
     </div>

     <div class="row justify-content-center">
         <a href="compHome.html">
             <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Home</button>
         </a>
     </div>
{% endblock %}
