{% extends 'layout.html' %}


{% block body %}
<h1 class="text-center mb-5">Discussion</h1>
<div class="container">
	<div class="search-result row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<ul class="meta-search">
				<li><i class="glyphicon glyphicon-calendar"></i> <span>USER{{id}}</span></li>
			</ul>
		</div>
		<div class="col-md-4 excerpet">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, </p>
			<span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
		</div>
		<div class="col-md-4 excerpet">
			<a href="questionDetails.html"><button class="btn btn-primary float-right">Reply</button></a>
		</div>
		<span class="clearfix borda"></span>
	</div>
</div>

{% endblock %}