{% extends 'layout.html' %}

<header style="text-align: center;">
  <h1 class="text-secondary">Join Track</h1>
  &nbsp;
</header>

{% block body %}

<table style="width:100%; border: solid black;">

    <tr>
        <th class="align-center">Track name</th>
        <th>Number of questions</th>
        <th>Join</th>
    </tr>
    {% for tracks in track %}
    <tr>
      <th>{{tracks["track_name"]}}</th>
      <th>{{tracks["no_questions"]}}</th>
      <th>
        <a href="compHome.html"><button type="button" class="btn btn-primary mt-5"  style="width: 200px">Select</button></a>
    </th>
    </tr>
</table>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <h2 class="text-center mt-5">{{messages[0]}}</h2>
    {% endif %}
{% endwith %}

 {% endfor %}

{% endblock %}
