<!DOCTYPE html>
<html lang="en">
<head>
<title>Search Results</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/css/bootstrap-dark.css">
<link rel="stylesheet" href="css/style.css" />

<!-- import the webpage's javascript file -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js" defer></script>
</head>
    <body>
        <hgroup class="mb20">
             <h1>Search Results</h1>
             <h2 class="lead"><strong class="text-danger">1</strong>
                 result were found for the search for <strong class="text-danger">TOPIC</strong></h2>
        </hgroup>
        <div class="container">
    		<div class="search-result row">
    			<div class="col-xs-12 col-sm-12 col-md-4">
    				<ul class="meta-search">
    					<li><i class="glyphicon glyphicon-calendar"></i> <span>Question</span></li>
    				</ul>
    			</div>
    			<div class="col-md-4 excerpet">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, </p>
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
    			</div>
                <div class="col-md-4 excerpet">
                    <a href="questionDetails.html"><button class="btn btn-primary float-right">Open Question</button></a>
    			</div>
    			<span class="clearfix borda"></span>
    		</div>
        </div>
    </body>
</html>
